.tabla-container {
    margin-top: 2rem;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    padding: 1rem;
}

.tabla-header {
    background-color: #f8f9fa;
    font-weight: bold;
}

.textoTruncado {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

@media (max-width: 768px) {
    .btn {
        padding: 0.25rem 0.5rem;
    }
    
    td .d-flex {
        flex-wrap: nowrap;
    }
}