.link-hover {
    transition: color 0.3s ease-in-out;
}

.link-hover:hover {
    color: #007bff !important;
}

@keyframes rebote {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-17px);
    }

    60% {
        transform: translateY(-7px);
    }
}

.logo {
    transition: transform 0.3s;
}

.logo:hover {
    animation: rebote 1s linear;
}